.video-container {
	position: relative;
	height: 0;
	padding: 25%;
}

.video-container video,
.video-container object,
.video-container embed,
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
